@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

//3D

iframe.at-head,
.fixed {
  position: absolute;
  top: -12rem;
  right: 45rem;
  width: 125%;
  height: 85.5rem;
  z-index: 999;
  margin: 2rem;
  transition: all 1s;
  &:hover.at-head {
    transform: translateY(-4rem) scale(1.2);
  }

  /* pointer-events: none; */
}
.fixed {
  position: fixed;
  top: 15rem;
  margin: 0;
  right: -88rem;
  z-index: 999;
  overflow: hidden;
  height: 150%;

  transform: scale(0.3);
  transition: all 9s;
  &:hover {
    transform: translateX(-5rem) translateY(-1.5rem) scale(0.5);
  }
}
