.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &__close {
    &:link,
    &:visited {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      @include respond(tab-port) {
        right: 1.5rem;
        top: 1.5rem;
      }
      text-decoration: none;
      color: $color-grey-dark;
      font-size: 3rem;
      display: inline-block;
      line-height: 0.5;
      transition: all 0.2s;
    }
    &:hover {
      color: $color-primary--dark;
    }
  }
  &:target {
    opacity: 1;
    visibility: visible;
    .popup__content {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);

    transition: all 0.4s 0.2s;

    width: 70%;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    background-color: $color-white;
    border-radius: 8px;
    display: table;
    overflow: hidden;
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__right {
    display: table-cell;
    width: 66.666666667%;
    vertical-align: middle;
    padding: 3rem 5rem;
    @include respond(tab-port) {
      width: 100%;
      display: block;
    }
  }

  &__img {
    display: inline-block;
    width: 100%;
    @include respond(tab-port) {
      width: 45%;
      transform: translateX(7%);
      margin-top: 3.5rem;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-dark-2;
    column-count: 2;

    column-gap: 4rem;
    column-rule: 1px solid $color-grey-dark-2;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
